[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TreeRingShape"]
	path = TreeRingShape
	url = https://github.com/ishidamgm/treeringshape
